
.contenedor{
  width: 80%;
  margin: 0 auto ; 
}


.profile-container {
  display: flex;
  align-items: center;
  text-align: center;
  justify-content: center;
  height: 100%;
  margin-top: 12rem;

}

.profile-parent {
  display: flex;
  align-items: center;
  color: aliceblue;
}

.profile-details-name {
  font-size: 24px;
  font-family: "Poppins SemiBold";
}

.profile-details-role {
  display: flex;
  flex-direction: column;
  margin: 14px 0 24px 0;
}

.profile-details-role h1 {
  font-size: 40px;
  font-family: cursive;
}

.primary-text {
  color: (--white);
}

.highlighted-text {
  color: var(--dark-orange);
  font-weight: 900;
}

.profile-role-tagline {
  font-size: 16px;
  margin: 5px 0 0 0;
  font-family: "Poppins Light";
  text-align: justify;
}

.profile-options .highlighted-btn {
  margin: 0 0 0 28px;
 background-color:var(--dark-orange);;
  color: white;
font-weight: bold;
}


.profile-options .highlighted-btn:hover {
  margin: 0 0 0 28px;
  background-color: cornsilk;
  color: #111;
}

.profile-picture {
  display: flex;
  align-items: center;
  justify-content: center;
  box-shadow: 0 1px 0px 0px var(--white);
  border-radius: 50%;
  height: 380px;
  width: 380px;
  margin: 0 0px 0 100px;
}

.profile-picture-background {
  height: 92%;
  width: 92%;
  background-image: url("../../../assets/Home/profile.jpeg");
  background-size: cover;
  border-radius: 50%;
  background-repeat: no-repeat;
  background-position: center;
}

.profile-picture-background:hover {
  transform: scale(1.04);
  transition: 1s ease-out;
}

.colz .colz-icon i {
  color: white;
  padding-left: 0px;
  margin: 2px 15px 10px 15px;
  font-size: 30px;
}

.colz .colz-icon i:hover {
  transform: scale(1.5);
}

@media screen and (max-width: 1110px) {
  .profile-container {
    margin-top: 0px;
    margin-bottom: 2rem;
  }

  .profile-picture {
    margin: 0 0px 0 80px;
  }
  .profile-details-name {
    font-size: 20px;
  }

  .profile-details-role .primary-text {
    font-size: 12px;
  }

  .profile-options .btn {
    width: 120px;
    padding: 11px 0;
    z-index: 700;
  }

  .contenedor{
    width: 100%;
    margin: 0 auto ; 
  }
  
}

@media screen and (max-width: 910px) {
  .profile-picture {
    height: 320px;
    width: 320px;
    margin: 0px
  }

  .profile-role-tagline {
    font-size: 15px;
    text-align: justify;
  }

  .profile-container {
    margin-top: 0px;
  }

  .contenedor{
    width: 100%;
    margin: 0 auto ; 
  }
  
}

@media screen and (max-width: 768px) {
  .profile-container {
    margin-top: 0px;
    margin-bottom: 2rem;
  }

  .profile-picture {
    margin: 0 !important;
  }

  .profile-parent {
    flex-direction: column-reverse;
    margin: 40px 0 0 0;
  }

  .profile-options {
    display: flex;
    justify-content: space-between;
  }

  .profile-details {
    margin: 25px 0 0;
  }

  .profile-options .highlighted-btn {
    margin: 0 !important;
  }

  .profile-options,
  .profile-details-role {
    text-align: center;
  }

  .profile-container {
    padding-left: 20px;
    padding-right: 20px;
  }

  .profile-details-role h1 {
    font-size: 30px;
  }

  .profile-role-tagline {
    font-size: 15px;
    text-align: justify;
  }

  .contenedor{
    width: 100%;
    margin: 0 auto ; 
  }
  
}

@media screen and (max-width: 375px) {
  .profile-container {
    margin-top: 0px;
    margin-bottom: 2rem;
  }

  .profile-picture {
    height: 275px;
    width: 275px;
    margin-top: -90px;
  }

  .profile-details {
    width: 90%;
  }

  .profile-role-tagline {
    font-size: 15px;
    text-align: justify;
  }

  .contenedor{
    width: 100%;
    margin: 0 auto ; 
  }
  
}
