.home-container{
    display:flex;
    flex-direction: column;
    justify-content: space-between;
    min-height:608px;
   /* background-image: url(../../assets/Home/bg.jpg);*/
   background-color: rgb(24, 20, 20);
}

